body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* color: white; */
    /* background-color:; */
}
.scrollTarget {
    scroll-margin-top: 64px ;
}

/* Landing page css */
.landing {
    height: 100vh;
    position: relative;
    width: 100%;
    display: table;
}
.home-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
 /* .cardSection {
    background-color:;
}  */

.home-inner {
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center bottom;

    background-image: url("../img/...");
    opacity: .85;
    position: absolute;
}

.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 30%;
    overflow: hidden;
}
#contactBtn {
    margin-top: .8vh;
}

section {
    min-height: 100vh;
}















/* footer css */

#contact {
    width: 100vw;
    color: whitesmoke;
}
#contact a {
    color: whitesmoke;
    text-decoration: none;
}
#contact i {
    font-size: 3rem;
}
#contact a:hover {
    color: grey;
    text-decoration: none;
}

#contact p {
    padding-top: 1%;
}